@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.home {
  background-image: url('Images/bg2.jpg');
  background-position: center;
  background-size: cover;
  object-fit: contain;
}


/*--------------- NavBar------------- */
nav {
  background-color: #75727299;
}
nav span {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  color: #fff;
}
